/*
Bootstrap overrides
*/
body{
    background-color:#F7F0EA!important;
}


#wrapper{
    height:100%;
    width:100%;
    overflow:hidden;
    background-color: #F7F0EA;
}

#content{
    margin-top:0!important;
    margin-bottom:0!important;
}

#content_wrapper{
    position:relative;
    height:100%;
    overflow:hidden;
    box-shadow: 0 0 4px;
}

#main_content{
    position:absolute;
    top:0px;
    left:84px;
    bottom:0;
    right:0;
    padding:15px;
    overflow:auto;
    border-left:1px solid black;
    border-right:1px solid black;
    background-color:#fff;
}

#logo{
    position:absolute;
    top:0;
    left:0;
    height:84px;
    width:84px;
    background-color:#7a6260;
    border-left: 1px solid black;
}


#sidebar{
    position:absolute;
    left:0;
    top:84px;
    bottom:0;
    width:84px;
    background-color:#7a6260;
    border-left: 1px solid black;
}

#sidebar > .menu{
    display:block!important;
}

#sidebar > .menu > .item {
    color:#F7F0EA;
}

#login_form{
    margin-top:12%!important;
}

#ticket_info, #ticket_comment{
    padding-top:1rem!important;
    padding-bottom:1rem!important;
}

.center{
    text-align:center!important;
}

#answers_divider{
    margin-top:0;
    margin-bottom:0;
}

#answers_column{
    padding-top:0;
    margin-top:0;
    margin-bottom:0;
}

.padless{
    padding-top:0!important;
    padding-bottom:0!important;
}
.thumbnail.filterBox {
    display: none;
    float: left;
    border: solid #ccc 1px;
    padding: 10px;
    margin: 4px;
    max-width: 24%;
    min-height: 200px;
}

.thumbnail.filterBoxShow {
    display: block;
}

.margin{
    margin-bottom: 23px!important;
}

.marginplus{
    margin-bottom: 30px!important;
}

.filterBox label {
    clear: both;
    display: block;
}

.filterBox .filterHelp {
    color: #aaa;
    font-size: 0.8em;
    clear: both;
}

.hidden{
    display: none!important;
}

#searchtabs {margin-bottom: 20px;}

.row_tablehead, table.table caption {background-color: #dbd5d9;}
table.table caption {height: 2em; line-height: 2em; font-weight: bold;}
table.ticket-stats caption {color: #fbff00; font-style: italic;}
table.ticket-stats tbody th, table.ticket-stats tbody tr {padding-left: 20px}

.errorlist {list-style: none;}
.errorlist {padding: 0;}
.has-error .input-group input, .has-error .input-group select, .has-error .input-group textarea {border-color: #b94a48}

#helpdesk-nav-collapse #searchform {
    padding-top: 0;
}
#ticket-description {background-color: #FCF8E3;}
.followup.well {background-color: #f4f5ff;}
/*
Add your custom styles here
*/
#footer {
    border-top: 2px solid #AAAAAA;
    margin-top: 20px;
    padding: 10px 0;
}
#helpdesk-body {padding-top: 100px;}
img.brand {padding-right: 30px;}