{% extends "helpdesk/public_base.html" %}{% load i18n %}
{% block helpdesk_title %}{% trans "Helpdesk Login" %}{% endblock %}

{% block helpdesk_body %}

{% if request.user.is_authenticated %}
    {% if request.user.is_staff %}
    <meta http-equiv="REFRESH" content="0;url={% url 'helpdesk_home' %}">
    {% else %}
    <meta http-equiv="REFRESH" content="0;url={% url 'helpdesk_list' %}">
    {% endif %}
{% else %}
    <div id="login_form" class="ui centered grid">
        <div class="six wide column">

            <div class="ui raised segment">
                <h2 class="ui center header">{% trans "Login" %}</h2>
                <div class="ui divider"></div>
                <form class="ui form" method='post' action='./'>
                    {% csrf_token %}
                    {% if form.errors %}
                        <p>{% trans "Your username and password didn't match. Please try again." %}</p>
                    {% endif %}
                    <div class="ui field">
                        <label for="id_username">Имя пользователя:</label>
                        <input id="id_username" maxlength="254" name="username" type="text">
                    </div>
                    <div class="ui field">
                        <label for="id_password">Пароль:</label>
                        <input id="id_password" name="password" type="password">
                    </div>
                    <div class="ui field center">
                        <input class="ui fluid youtube button" type='submit' value='ВОЙТИ' />
                    </div>
                    <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}../{% endif %}" />
                </form>
            </div>
        </div>
    </div>

{% endif %}
{% endblock %}
