{% load i18n %}
{% load saved_queries %}
{% load load_helpdesk_settings %}
{% load static from staticfiles %}
{% with request|load_helpdesk_settings as helpdesk_settings %}
{% with user|saved_queries as user_saved_queries_ %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block helpdesk_title %}Helpdesk{% endblock %}</title>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src='{% static "helpdesk/jquery-ui-1.8.9.custom.min.js" %}' type='text/javascript' language='javascript'></script>
        <link rel='stylesheet' href='{% static "helpdesk/helpdesk-extend.css" %}' type='text/css'  media="screen" >

        <!--link rel='stylesheet' href='{% static "helpdesk/helpdesk-print.css" %}' type='text/css' media="print" /-->
        <!--link rel='stylesheet' href='{% static "helpdesk/jquery-smoothness-theme/jquery-ui-1.8.9.custom.css" %}' type='text/css' /-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.7/semantic.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.7/semantic.min.css" rel="stylesheet">
        <link rel='alternate' href='{% url 'helpdesk_rss_user' user.get_username %}' type='application/rss+xml' title='{% trans "My Open Tickets" %}' />
        <link rel='alternate' href='{% url 'helpdesk_rss_activity' %}' type='application/rss+xml' title='{% trans "All Recent Activity" %}' />
        <link rel='alternate' href='{% url 'helpdesk_rss_unassigned' %}' type='application/rss+xml' title='{% trans "Unassigned Tickets" %}' />

        <style type="text/css">
        /* hide google translate top bar */
        .goog-te-banner-frame {display: none !important;}
        .goog-te-balloon-frame {display: none !important;}
        /* hide google translate tooltips (generated for every translated item) */
        .goog-tooltip {display: none !important; }
        </style>

        <style type="text/css">
        /* header */
        #dropdown li.headerlink { width: auto; float: left; text-align: center; }

        /* query list */
        #dropdown li.headerlink ul {    display: none;
                                        text-align: left;
                                        position: absolute;
                                        padding: 5px;
                                        z-index: 2; }
        /* query entries */
        #dropdown li.headerlink:hover ul { display: block; width: auto; }
        #dropdown li.headerlink:hover ul li { padding: 5px; margin: 1px; float: none; display: block; }
        </style>

        {% block helpdesk_head %}{% endblock %}
    </head>
    <body>
        <div id="content_wrapper" class="ui container">
            <!--<div id='header' class="row">
                <h1>{% block h1_title %}{% trans "Helpdesk" %}{% endblock %}</h1>
                {% include "helpdesk/navigation.html" %}
            </div>-->
            <div id="logo"></div>
            <div id="topbar"></div>
            <div id="sidebar">
                <div class="ui vertical labeled icon secondary menu">
                    {% if request.user.is_staff %}
                    <a class="item" href='{% url 'helpdesk_dashboard' %}'>
                        <i class="dashboard icon"></i>
                        {% trans "Dashboard" %}
                    </a>
                    {% endif %}
                    <a class="item" href='{% url 'helpdesk_list' %}'>
                        <i class="tags icon"></i>
                        {% trans "Tickets" %}
                    </a>
                    <a class="item" href='{% url 'helpdesk_submit' %}'>
                        <i class="plus icon"></i>
                        Новый
                    </a>
                    {% if request.user.is_staff %}
                    <a class="item" href='{% url 'helpdesk_report_index' %}'>
                        <i class="bar chart icon"></i>
                        Отчеты
                    </a>
                    {% endif %}
                    <a class="item" href='/logout'>
                        <i class="sign out icon"></i>
                        Выйти
                    </a>
                </div>
            </div>
            <div id="main_content">
                <div class="ui centered grid">
                    {% block helpdesk_body %}{% endblock %}
                </div>
            </div>

            <!--<div id='footer' class="row">
                <div class="col-md-2">{% include "helpdesk/attribution.html" %}</div>
                <div class="col-md-2"><a href='{% url 'helpdesk_rss_index' %}'><img src='{% static "helpdesk/rss_icon.png" %}' width='14' height='14' alt='{% trans "RSS Icon" %}' title='{% trans "RSS Feeds" %}' border='0' />{% trans "RSS Feeds" %}</a></div>
                <div class="col-md-2"><s><a href='{% url 'helpdesk_api_help' %}'>{% trans "API" %}</a></s></div>
                {% if user.is_superuser %}<div class="col-md-2"><a href='{% url 'helpdesk_system_settings' %}'>{% trans "System Settings" %}</a></div>{% endif %}
            </div>-->
        </div>
        {% include "helpdesk/debug.html" %}
    </body>
</html>
{% endwith %}
{% endwith %}
