{% extends "helpdesk/base.html" %}{% load i18n %}

{% block helpdesk_title %}{% trans "Create Ticket" %}{% endblock %}

{% block helpdesk_body %}
<div class="sixteen wide column">
<div class="ui segment">
<h2>{% trans "Submit a Ticket" %}</h2>
<div class="ui divider"></div>
<!--<p>{% trans "Unless otherwise stated, all fields are required." %} {% trans "Please provide as descriptive a title and description as possible." %}</p>-->

<form class="ui form" method='post' action='./' enctype='multipart/form-data'>
    {% if request.user.is_staff %}
    <div class="field">
        <label for="id_queue">Очередь:</label>
        <select id="id_queue" name="queue" class="ui dropdown">
            <option value="" selected="selected">-----</option>
            {% for c in companies %}
            <option value="{{ c.id }}">{{ c.title }}</option>
            {% endfor %}
        </select>
    </div>
    {% endif %}
    <div class="field">
        <label for="id_title">Краткое описание проблемы:</label>
        <input id="id_title" maxlength="100" name="title" size="60" type="text">
    </div>
    {% if request.user.is_staff %}
    <div class="field">
        <label for="id_submitter_email">Адрес электронной почты отправителя:</label>
        <input id="id_submitter_email" name="submitter_email" size="60" type="text" value="{{ request.user.email }}"><br>
        <small>На этот адрес электронной почты будут посылаться копии всех публичных обновлений этого тикета</small>
    </div>
    {% endif %}
    <div class="field">
        <label for="id_body">Описание проблемы:</label>
        <textarea cols="47" id="id_description" name="description" rows="10"></textarea>
    </div>
    
    <div class="two fields">
        <div class="field">
            <label for="id_priority">Приоритет:</label>
            <select id="id_priority" name="priority">
                <option value="1">1. Критичный</option>
                <option value="2">2. Высокий</option>
                <option value="3" selected="selected">3. Нормальный</option>
                <option value="4">4. Низкий</option>
                <option value="5">5. Очень низкий</option>
            </select>
            <small>Пожалуйста выбирайте приоритет внимательно. Если не уверены оставьте 3, как есть.</small>
        </div>
        {% if request.user.is_staff %}
        <div class="field">
            <label for="id_assigned_to">Владелец:</label>
            <select id="id_assigned_to" name="assigned_to">
                <option value="" selected="selected">--------</option>
                {% for s in staffs %}
                <option value="{{ s.id }}">{{ s.first_name }} {{ s.last_name }}</option>
                {% endfor %}
            </select>
            <small>Владельцу будут высланы детали этого тикета немедленно.</small>
        </div>
        {%endif%}
    </div>
    {% if request.user.is_staff %}
    <div class="field">
        <label for="id_due_date_day">Выполнить до:</label>
        <div class="three fields">
            <div class="field">
            <select id="id_due_date_day" name="due_date_day">
                <option value="0">День</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
            </div>
            <div class="field">
            <select id="id_due_date_month" name="due_date_month">
                <option value="0">Месяц</option>
                <option value="1">Январь</option>
                <option value="2">Февраль</option>
                <option value="3">Март</option>
                <option value="4">Апрель</option>
                <option value="5">Май</option>
                <option value="6">Июнь</option>
                <option value="7">Июль</option>
                <option value="8">Август</option>
                <option value="9">Сентябрь</option>
                <option value="10">Октябрь</option>
                <option value="11">Ноябрь</option>
                <option value="12">Декабрь</option>
            </select>
            </div>
            <div class="field">
            <select id="id_due_date_year" name="due_date_year">
                <option value="0">Год</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
            </select>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="field">
        <label for="id_attachment">Прикрепить файл:</label>
        <input id="id_attachment" name="attachment" type="file"><br>
        <small>Вы можете прикрепить файл, например, документ или скриншот к тикету.</small>
    </div>
        {% comment %}{% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <dt><label for='id_{{ field.name }}'>{% trans field.label %}</label>{% if not field.field.required %} <span class='form_optional'>{% trans "(Optional)" %}</span>{% endif %}</dt>
                <dd>{{ field }}</dd>
                {% if field.errors %}<dd class='error'>{{ field.errors }}</dd>{% endif %}
                {% if field.help_text %}<dd class='form_help_text'>{% trans field.help_text %}</dd>{% endif %}
            {% endif %}
        {% endfor %}
        {% endcomment %}
    <div class="ui divider"></div>
    <div class='field'>
        <input type='submit' class="ui small green button" value='{% trans "Submit Ticket" %}' />
    </div>
{% csrf_token %}
</form>
</div>
</div>
{% endblock %}
