{% extends "helpdesk/base.html" %}{% load i18n %}
{% block helpdesk_title %}{% trans "Helpdesk Dashboard" %}{% endblock %}

{% block helpdesk_body %}
{% if request.user.is_staff %}
<div class="sixteen wide center aligned column">
    <h2 class="ui dividing header">ПАНЕЛЬ УПРАВЛЕНИЯ</h2>
</div>
<div class="sixteen wide column">
    <table class="ui celled striped very compact table">
        <thead>
            <!--<tr><th colspan="4">{% trans "Helpdesk Summary" %}</th></tr>-->
            <tr>
                <th>{% trans "Queue" %}</th>
                <th>{% trans "Open" %}</th>
                <th>{% trans "Resolved" %}</th>
                <th>{% trans "Closed" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for queue in dash_tickets %}
            <tr>{% url 'helpdesk_list' as hdlist %}
                <th>
                    <a href='{{ hdlist }}?queue={{ queue.queue }}&status=1&status=2'>{{ queue.name }}</a>
                </th>
                <td>
                    {% if queue.open %}
                    <a href='{{ hdlist }}?queue={{ queue.queue }}&status=1&status=2'>{% endif %}{{ queue.open }}{% if queue.open %}</a>
                    {% endif %}
                </td>
                <td>
                    {% if queue.resolved %}
                    <a href='{{ hdlist }}?queue={{ queue.queue }}&status=3'>{% endif %}{{ queue.resolved }}{% if queue.resolved %}</a>
                    {% endif %}
                </td>
                <td>
                    {% if queue.closed %}<a href='{{ hdlist }}?queue={{ queue.queue }}&status=4'>{% endif %}{{ queue.closed }}{% if queue.closed %}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if all_tickets_reported_by_current_user %}
    {% with ticket_list=all_tickets_reported_by_current_user ticket_list_empty_message="" %}
    {% trans "All Tickets submitted by you" as ticket_list_caption %}
    <div class="sixteen wide column">
        <table class="ui celled striped very compact stackable table">
            <!--{% if ticket_list_caption %}
            <caption>{{ ticket_list_caption }}</caption>{% endif %}-->
            <thead>
                {% if ticket_list_caption %}<tr><th colspan="6">{{ ticket_list_caption }}</th></tr>{% endif %}
                <tr>
                    <th>#</th>
                    <th>{% trans "Pr" %}</th>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Queue" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Last Update" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for ticket in ticket_list %}
                <tr class="{{ ticket.get_priority_css_class }}">
                    <td><a href='{{ ticket.get_absolute_url }}'>{{ ticket.ticket }}</a></td>
                    <td>{{ ticket.priority }}</td>
                    <td><a href='{{ ticket.get_absolute_url }}'>{{ ticket.title }}</a></td>
                    <td>{{ ticket.queue }}</td>
                    <td>{{ ticket.get_status }}</td>
                    <td><span title='{{ ticket.modified|date:"r" }}'>{{ ticket.modified }}</span></td>
                </tr>
            {% empty %}
                {% if ticket_list_empty_message %}
                    <tr><td colspan='6'>{{ ticket_list_empty_message }}</td></tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endwith %}
{% endif %}

{% trans "Open Tickets assigned to you (you are working on this ticket)" as ticket_list_caption %}
{% trans "You have no tickets assigned to you." as no_assigned_tickets %}
{% with ticket_list=user_tickets ticket_list_empty_message=no_assigned_tickets %}
<div class="sixteen wide column">
        <table class="ui celled striped very compact stackable table">
            <!--{% if ticket_list_caption %}
            <caption>{{ ticket_list_caption }}</caption>{% endif %}-->
            <thead>
                {% if ticket_list_caption %}<tr><th colspan="6">{{ ticket_list_caption }}</th></tr>{% endif %}
                <tr>
                    <th>#</th>
                    <th>{% trans "Pr" %}</th>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Queue" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Last Update" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for ticket in ticket_list %}
                <tr class="{{ ticket.get_priority_css_class }}">
                    <td><a href='{{ ticket.get_absolute_url }}'>{{ ticket.ticket }}</a></td>
                    <td>{{ ticket.priority }}</td>
                    <td><a href='{{ ticket.get_absolute_url }}'>{{ ticket.title }}</a></td>
                    <td>{{ ticket.queue }}</td>
                    <td>{{ ticket.get_status }}</td>
                    <td><span title='{{ ticket.modified|date:"r" }}'>{{ ticket.modified }}</span></td>
                </tr>
            {% empty %}
                {% if ticket_list_empty_message %}
                    <tr><td colspan='6'>{{ ticket_list_empty_message }}</td></tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endwith %}

<div class="sixteen wide column">
<table class="ui celled striped very compact stackable table">
    <!--<caption>{% trans "Unassigned Tickets" %} {% trans "(pick up a ticket if you start to work on it)" %}</caption>-->
    <thead>
        <tr><th colspan="6">{% trans "Unassigned Tickets" %} {% trans "(pick up a ticket if you start to work on it)" %}</th></tr>
        <tr>
            <th>#</th>
            <th>{% trans "Pr" %}</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Queue" %}</th>
            <th>{% trans "Created" %}</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
<tbody>
    {% for ticket in unassigned_tickets %}
    <tr class="{{ ticket.get_priority_css_class }}">
        <td><a href='{{ ticket.get_absolute_url }}'>{{ ticket.ticket }}</a></td>
        <td>{{ ticket.priority }}</td>
        <td><a href='{{ ticket.get_absolute_url }}'>{{ ticket.title }}</a></td>
        <td>{{ ticket.queue }}</td>
        <td><span title='{{ ticket.created|date:"r" }}'>{{ ticket.created }}</span></td>
        <td>
            <a href='{{ ticket.get_absolute_url }}?take'>
                <span class='button button_take'>{% trans "Take" %}</span>
            </a> | 
            <a href='{% url 'helpdesk_delete' ticket.id %}'>
                <span class='button button_delete'>{% trans "Delete" %}</span>
            </a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan='6'>{% trans "There are no unassigned tickets." %}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>

{% if user_tickets_closed_resolved %}
{% trans "Closed & resolved Tickets you used to work on" as ticket_list_caption %}
{% with ticket_list=user_tickets_closed_resolved ticket_list_empty_message="" %}
<div class="sixteen wide column">
        <table class="ui celled striped very compact stackable table">
            <!--{% if ticket_list_caption %}
            <caption>{{ ticket_list_caption }}</caption>{% endif %}-->
            <thead>
                {% if ticket_list_caption %}<tr><th colspan="6">{{ ticket_list_caption }}</th></tr>{% endif %}
                <tr>
                    <th>#</th>
                    <th>{% trans "Pr" %}</th>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Queue" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Last Update" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for ticket in ticket_list %}
                <tr class="{{ ticket.get_priority_css_class }}">
                    <td><a href='{{ ticket.get_absolute_url }}'>{{ ticket.ticket }}</a></td>
                    <td>{{ ticket.priority }}</td>
                    <td><a href='{{ ticket.get_absolute_url }}'>{{ ticket.title }}</a></td>
                    <td>{{ ticket.queue }}</td>
                    <td>{{ ticket.get_status }}</td>
                    <td><span title='{{ ticket.modified|date:"r" }}'>{{ ticket.modified }}</span></td>
                </tr>
            {% empty %}
                {% if ticket_list_empty_message %}
                    <tr><td colspan='6'>{{ ticket_list_empty_message }}</td></tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
</div>
{% endwith %}
{% endif %}
{% endif %}
{% endblock %}
