{% extends "helpdesk/base.html" %}{% load i18n %}

{% block helpdesk_title %}{% trans "Delete Ticket" %}{% endblock %}

{% block helpdesk_body %}
<div class="eight wide column center">
    <div class="ui segment">
        <h2 class="ui dividing header">{% trans "Delete Ticket" %}</h2>
            <p>{% blocktrans with ticket.title as ticket_title %}Are you sure you want to delete this ticket (<em>{{ ticket_title }}</em>)? All traces of the ticket, including followups, attachments, and updates will be irreversibly removed.{% endblocktrans %}</p>
            <div class="ui buttons center">
                <form method='post' action='./'><input class="ui small red button" type='submit' value='{% trans "Yes - Delete It" %}' />{% csrf_token %}</form>
                <a href='../' class="ui small button">{% trans "No, Don't Delete It" %}</a>
            </div>
    </div>
</div>
{% endblock %}
