{% extends "helpdesk/base.html" %}{% load i18n %}

{% block helpdesk_title %}{% trans "Edit Ticket" %}{% endblock %}

{% block helpdesk_body %}
<div class="sixteen wide column">
    <div class="ui segment">
        <h2 class="ui dividing header">{% trans "Edit a Ticket" %}</h2>

<p><small>{% trans "Unless otherwise stated, all fields are required." %} {% trans "Please provide as descriptive a title and description as possible." %}</small><br>
<small><strong>{% trans "Note" %}:</strong> {% blocktrans %}Editing a ticket does <em>not</em> send an e-mail to the ticket owner or submitter. No new details should be entered, this form should only be used to fix incorrect details or clean up the submission.{% endblocktrans %}</small></p>

<form method='post' action='./' class="ui form">
    <div class="field">
        <label for="id_title">Заголовок:</label>
        <input id="id_title" maxlength="200" name="title" type="text" value="{{ ticket.title }}">
    </div>
    <div class="field {% if not request.user.is_staff %}hidden{% endif %}">
        <label for="id_queue">Очередь:</label>
        <select id="id_queue" name="queue" class="ui dropdown">
            <option value="">---------</option>
            <option value="1" selected="selected">ITHELP</option>
        </select>
    </div>
    <div class="field">
        <label for="id_submitter_email">Электронный адрес отправителя:</label>
        <input id="id_submitter_email" maxlength="254" name="submitter_email" type="email" value="{{ request.user.email }}"><br>
        <small>Отправитель будет получать электронные сообщения обо всех публичных дополнениях к этой задаче.</small>
    </div>
    <div class="field">
        <label for="id_description">Описание:</label>
        <textarea cols="40" id="id_description" name="description" rows="10">{{ ticket.description }}</textarea>
        <br>
        <small>Содержимое запроса клиента.</small>
    </div>
    <div class="field">
        <label for="id_priority">Приоритет:</label>
        <select id="id_priority" name="priority">
            <option value="">---------</option>
            <option value="1">1. Критичный</option>
            <option value="2">2. Высокий</option>
            <option value="3" selected="selected">3. Нормальный</option>
            <option value="4">4. Низкий</option>
            <option value="5">5. Очень низкий</option>
        </select>
        <br>
        <small>1 = Наивысший Приоритет, 5 = Низший Приоритет</small>
    </div>
    <div class="field {% if not request.user.is_staff %}hidden{% endif %}">
        <label for="id_due_date">Выполнить до:</label>
        <input id="id_due_date" name="due_date" type="text">
    </div>
    <div class='field'>
        <input type='submit' class="ui small green button" value='{% trans "Save Changes" %}' />
    </div>
{% csrf_token %}
</form>
    </div>
  </div>
</div>
{% endblock %}



    {{ form }}
    {% comment %}
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <dt><label for='id_{{ field.name }}'>{{ field.label }}</label>{% if not field.field.required %} <span class='form_optional'>{% trans "(Optional)" %}</span>{% endif %}</dt>
                <dd>{{ field }}</dd>
                {% if field.errors %}<dd class='error'>{{ field.errors }}</dd>{% endif %}
                {% if field.help_text %}<dd class='form_help_text'>{{ field.help_text }}</dd>{% endif %}</label>
            {% endif %}
        {% endfor %}
    </dl>
    {% endcomment %}