{% extends "helpdesk/base.html" %}{% load i18n %}
{% block helpdesk_title %}{% trans "Edit followup" %}{% endblock %}

{% block helpdesk_head %}
<script type="text/javascript">
    $(document).ready(function() {
        $("[data-toggle=tooltip]").tooltip();
    });
</script>
{% endblock helpdesk_head %}

{% block helpdesk_body %}

{% include "helpdesk/ticket_desc_table.html" %}
<div class="sixteen wide column padless">
    <div class="ui segment">
<h3 class="ui dividing header">{% trans "Edit FollowUp" %}</h3>
    <form action="." method="POST" name="edit_followup_form" class="ui form">
        <div class="field">
            <label for="id_ticket">Переназначение тикета:</label></dt>
            <select id="id_ticket" name="ticket">
                <option value="">---------</option>
                <option value="14" selected="selected">14 Нужна помощь!!</option>
                <option value="15">15 asdasdasd</option>
                <option value="16">16 asdasdasd</option>
            </select>
        </div>
        <div class="field">
            <label for="id_title">Заголовок:</label></dt>
            <input id="id_title" maxlength="200" name="title" type="text" value="Комментарий">
        </div>
        <div class="field">
            <label for="id_comment">Комментарий</label></dt>
            <textarea cols="40" id="id_comment" name="comment" rows="5">asdfsadfsad</textarea>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <label for="id_public">Публичный:</label></dt>
                <input checked="checked" id="id_public" name="public" type="checkbox">
            </div>
        </div>
        <div class="field">
            <label for="id_new_status">Новый статус:</label>
            <select id="id_new_status" name="new_status">
                <option value="" selected="selected">---------</option>
                <option value="1">Открытый</option>
                <option value="2">Переоткрытый</option>
                <option value="3">Решённый</option>
                <option value="4">Закрытый</option>
                <option value="5">Дубликат</option>
            </select>
        </div>
        <div class="field">
            <input class="ui small green button" type="submit" value="Сохранить">
        </div>
        {% csrf_token %}
    </form>
    </div>
</div>
{% endblock helpdesk_body %}

{{ form.non_field_errors }}
<fieldset>
<dl>
<dt><label for='id_ticket'>{% trans "Reassign ticket:" %}</label></dt>
<dd>{{ form.ticket }}</dd>
<dt><label for="id_title">{% trans "Title:" %}</label></dt>
<dd>{{ form.title }}</dd>
<dt><label for="id_comment">{% trans "Comment:" %}</label></dt>
<dd>{{ form.comment }}</dd>
<dt><label for="id_public">Public:</label></dt>
<dd>{{ form.public }}</dd>
<p>Public tickets are viewable by the submitter and all staff, but non-public tickets can only be seen by staff.</p>
<dt><label for="id_new_status">New Status:</label></dt>
<dd>{{ form.new_status }}</dd>
<p>If the status was changed, what was it changed to?</p>
</dl>
</fieldset>
<p><input class="btn btn-primary" type="submit" value="Submit"></p>