{% extends "helpdesk/base.html" %}{% load i18n %}

{% block helpdesk_title %}{% trans "Reports &amp; Statistics" %}{% endblock %}

{% block helpdesk_body %}
<div class="sixteen wide column">
    <div class="ui segment two column grid">
        <div class="sixteen wide column">
            <h2 class="ui dividing header center">ОТЧЕТЫ</h2>
        </div>
        {% ifequal number_tickets 0 %}
        <div class="sixteen wide column">
            <h3 class="center">{% trans "You haven't created any tickets yet, so you cannot run any reports." %}</h3>
        </div>
        {% else %}
        <div class="eight wide column">
            <h3 class="ui dividing header center">{% trans "Reports By User" %}</h3>
            <div class="ui two stackable cards">
                <div class="card">
                    <div class="content">
                        <div class="header">{% trans "by Priority" %}</div>
                        <div class="description">
                            По количеству заявок с определённым приоритетом.
                        </div>
                    </div>
                    <a href='userpriority/{% if saved_query %}?saved_query={{ saved_query }}{% endif %}' class="ui bottom attached button">Показать</a>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="header">{% trans "by Queue" %}</div>
                        <div class="description">
                            По количеству заявок с определённой очередью.
                        </div>
                    </div>
                    <a href='userqueue/{% if saved_query %}?saved_query={{ saved_query }}{% endif %}' class="ui bottom attached button">Показать</a>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="header">{% trans "by Status" %}</div>
                        <div class="description">
                            По количеству заявок по статусу.
                        </div>
                    </div>
                    <a href='userstatus/{% if saved_query %}?saved_query={{ saved_query }}{% endif %}' class="ui bottom attached button">Показать</a>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="header">{% trans "by Month" %}</div>
                        <div class="description">
                            По количеству заявок в месяц.
                        </div>
                    </div>
                    <a href='usermonth/{% if saved_query %}?saved_query={{ saved_query }}{% endif %}' class="ui bottom attached button">Показать</a>
                </div>
            </div>
        </div>
        <div class="eight wide column">
            <h3 class="ui dividing header center">{% trans "Reports By Queue" %}</h3>
            <div class="ui two stackable cards">
                <div class="card">
                    <div class="content">
                        <div class="header">{% trans "by Priority" %}</div>
                        <div class="description">
                            По количеству заявок с определённым приоритетом.
                        </div>
                    </div>
                    <a href='queuepriority/{% if saved_query %}?saved_query={{ saved_query }}{% endif %}' class="ui bottom attached button">Показать</a>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="header">{% trans "by Status" %}</div>
                        <div class="description">
                            По количеству заявок с определённым статусом.
                        </div>
                    </div>
                    <a href='queuestatus/{% if saved_query %}?saved_query={{ saved_query }}{% endif %}' class="ui bottom attached button">Показать</a>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="header">Количество дней до закрытия</div>
                        <div class="description">
                            В месяц.
                        </div>
                    </div>
                    <a href='daysuntilticketclosedbymonth/{% if saved_query %}?saved_query={{ saved_query }}{% endif %}' class="ui bottom attached button">Показать</a>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="header">{% trans "by Month" %}</div>
                        <div class="description">
                            По количеству заявок в месяц.
                        </div>
                    </div>
                    <a href='queuemonth/{% if saved_query %}?saved_query={{ saved_query }}{% endif %}' class="ui bottom attached button">Показать</a>
                </div>
            </div>
        </div>
        {% endifequal %}
    </div>
</div>
{% endblock %}
