{% load i18n humanize %}
{% load static from staticfiles %}
<div class="sixteen wide column">
<div id="ticket_info" class="ui clearing segment grid">
    <div class="sixteen wide column padless">
    <h3 class="ui header">
        #{{ ticket.id }}. {{ ticket.title }}
    </h3>
    <div class="ui divider"></div>
    </div>
    <div class="eight wide column padless">
        <p><strong>Компания: </strong>{% blocktrans with ticket.queue as queue %}{{ queue }}{% endblocktrans %}</p>
        <strong>Адрес отправителя: </strong>{{ ticket.submitter_email }}
        {% if user.is_superuser %}
            <p><strong><a href='{% url 'helpdesk_email_ignore_add' %}?email={{ ticket.submitter_email }}'>{% trans "Ignore" %}</a></strong></p>
        {% endif %}
    </div>
    <div class="eight wide column padless">
        <p><strong>Дата создания: </strong>{{ ticket.created|date:"r" }} ({{ ticket.created|naturaltime }})</p>
        <p><strong>Статус: </strong>{{ ticket.get_status_display }}</p>
        <strong>Ответственный: </strong>{{ ticket.get_assigned_to }}
        {% ifequal ticket.get_assigned_to _('Unassigned') %}
            <strong><a href='?take'><span class='button button_take'>{% trans "Take" %}</span></a></strong>
        {% endifequal %}<br></br>
    </div>
    <div class="sixteen wide column padless">
        <strong>Описание: </strong>
        <p>{{ ticket.description|force_escape|urlizetrunc:50|linebreaksbr }}</p>
        <div class="ui divider"></div>
        {% for attachment in tach %}
        <div class='attachments'>
            <a href='{{ attachment.file.url }}' target="_blank">{{ attachment.filename }}</a> ({{ attachment.mime_type }}, {{ attachment.size|filesizeformat }})
                {% if followup.user and request.user == followup.user %}
                    <a href='{% url 'helpdesk_attachment_del' ticket.id attachment.id %}'>delete</a>
                {% endif %}
        </div>
        {% endfor %}
        <div class="ui divider"></div>
        <a href='{% url 'helpdesk_edit' ticket.id %}' class="ui basic button">Редактировать</a>
        {% if request.user.is_staff %}
        {% if ticket.on_hold %}
            <a href='{% url 'helpdesk_unhold' ticket.id %}' class="ui basic button">{% trans "Unhold" %}</a>
        {% else %}
            <a href='{% url 'helpdesk_hold' ticket.id %}' class="ui basic button">{% trans "Hold" %}</a>
        {% endif %}
        {% endif %}
        <a href='{% url 'helpdesk_delete' ticket.id %}' class="ui  red basic button">Удалить</a>
    </div>
</div>
</div>

<!--

{% for customfield in ticket.ticketcustomfieldvalue_set.all %}
<tr>
    <th>{{ customfield.field.label }}</th>
    <td>{% ifequal customfield.field.data_type "url" %}<a href='{{ customfield.value }}'>{{ customfield.value }}</a>{% else %}{{ customfield.value }}{% endifequal %}</td>
</tr>
{% endfor %}

<tr>
    <th colspan='2'>{% trans "Description" %}</th>
</tr>
<tr>
    <td id="ticket-description" colspan='2'>{{ ticket.description|force_escape|urlizetrunc:50|linebreaksbr }}</td>
</tr>

{% if ticket.resolution %}<tr>
    <th colspan='2'>{% trans "Resolution" %}{% ifequal ticket.get_status_display "Resolved" %} <a href='?close'><img src='{% static "helpdesk/buttons/accept.png" %}' alt='{% trans "Accept" %}' title='{% trans "Accept and Close" %}' width='60' height='15' /></a>{% endifequal %}</th>
</tr>
<tr>
    <td colspan='2'>{{ ticket.resolution|force_escape|urlizetrunc:50|linebreaksbr }}</td>
</tr>
{% endif %}

<tr>
    <th>{% trans "Priority" %}</th>
    <td>{{ ticket.get_priority_display }}</td>
</tr>

<tr>
    <th>{% trans "Copies To" %}</th>
    <td>{{ ticketcc_string }} <a data-toggle='tooltip' href='{% url 'helpdesk_ticket_cc' ticket.id %}' title='{% trans "Click here to add / remove people who should receive an e-mail whenever this ticket is updated." %}'><strong>{% trans "Manage" %}</strong></a>{% if SHOW_SUBSCRIBE %}, <strong><a data-toggle='tooltip' href='?subscribe' title='{% trans "Click here to subscribe yourself to this ticket, if you want to receive an e-mail whenever this ticket is updated." %}'>{% trans "Subscribe" %}</a></strong>{% endif %}</td>
</tr>

<tr>
    <th>{% trans "Dependencies" %}</th>
    <td>{% for dep in ticket.ticketdependency.all %}
        {% if forloop.first %}<p>{% trans "This ticket cannot be resolved until the following ticket(s) are resolved" %}</p><ul>{% endif %}
            <li><a href='{{ dep.depends_on.get_absolute_url }}'>{{ dep.depends_on.ticket }} {{ dep.depends_on.title }}</a> ({{ dep.depends_on.get_status_display }}) <a href='{% url 'helpdesk_ticket_dependency_del' ticket.id dep.id %}'>{% trans "Remove Dependency" %}</a></li>
        {% if forloop.last %}</ul>{% endif %}
        {% empty %}
        <p>{% trans "This ticket has no dependencies." %}</p>
        {% endfor %}
        <p><a data-toggle='tooltip' href='{% url 'helpdesk_ticket_dependency_add' ticket.id %}' title="{% trans "Click on 'Add Dependency', if you want to make this ticket dependent on another ticket. A ticket may not be closed until all tickets it depends on are closed." %}">{% trans "Add Dependency" %}</a></p>
    </td>
</tr>

</tbody>
</table>
-->