{% extends "helpdesk/base.html" %}
{% load i18n humanize %}
{% load static from staticfiles %}
{% block helpdesk_title %}{% trans "View Ticket Details" %}{% endblock %}
{% block helpdesk_head %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.ui.dropdown').dropdown();
        $("#ShowFurtherEditOptions").click(function() {
            $("#FurtherEditOptions").fadeIn();
            $("#ShowFurtherOptPara").hide();
            return false;
        });

        processAddFileClick();
        $("#ShowFileUpload").click(function() {
            $("#FileUpload").fadeIn();
            $("#ShowFileUploadPara").hide();
            return false;
        });

        $('#id_preset').change(function() {
            preset = $('#id_preset').val();
            if (preset != '') {
                $.get("{% url 'helpdesk_raw' "preset" %}?id=" + preset, function(data) {
                    $("#commentBox").val(data)
                });
            }
        });

        $("[data-toggle=tooltip]").tooltip();
    });

    function processAddFileClick() {
        /* Until jQuery includes some 'livequery' functionality in the core
           distribution, this will have to do. */
        $(".AddAnotherFile>a").click(function() {
            $(this).parent().remove();
            $("#FileUpload>dl").append("<dt><label>{% trans "Attach another File" %}</label></dt><dd><input type='file' name='attachment' id='file' multiple/> <span class='AddAnotherFile'>(<a href='#'>{% trans "Add Another File" %}</a>)</span></dd>");
            processAddFileClick();
            return false;
        });

    }
</script>
{% endblock %}

{% block h1_title %}{{ ticket.ticket_for_url }}{% endblock %}

{% block helpdesk_body %}
{% if helpdesk_settings.HELPDESK_TRANSLATE_TICKET_COMMENTS %}
{% comment %}
<div id='translate_dropdown'>{% trans "Translate ticket comments into" %} </div>
<div id='translate_block'>
{% endcomment %}
<div id="google_translate_element"></div><script>
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'auto',
    includedLanguages: 'en,fr,de,ru',
    autoDisplay: false,
    layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
  }, 'google_translate_element');
}
</script><script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{% endif %}

{% include "helpdesk/ticket_desc_table.html" %}

{% if ticket.followup_set.all %}
<div class="sixteen wide center aligned column">
    <h2>ОТВЕТЫ</h2>
    <div id="answers_divider" class="ui divider"></div>
</div>
{% load ticket_to_link %}
{% for followup in ticket.followup_set.all %}
<div id="answers_column" class="sixteen wide column ui feed">
    <div class="event">
        <div class="label">
            <i class="pencil icon"></i>
        </div>
        <div class="content">
            <div class="summary">
                {% if followup.title %}{{ followup.title }} {% if not followup.public %} <span class='private'>({% trans "Private" %})</span>{% endif %}{% endif %}
                <div class="date">
                  {{ followup.date|naturaltime }} пользователем {% if followup.user %}{{ followup.user.first_name }} {{ followup.user.last_name }}{% endif %}
                </div>
            </div>
            <div class="extra text">
                {% if followup.comment %}{{ followup.comment|force_escape|urlizetrunc:50|num_to_link|linebreaksbr }}{% endif %}<br>
            </div>
            <div class="extra images">
                {% for attachment in followup.attachment_set.all %}
                <a href='{{ attachment.file.url }}'>
                    <img src="{{ attachment.file.url }}">
                </a>
                {% endfor %}
            </div>
            <div class="meta">
                {% if followup.user and request.user == followup.user and not followup.ticketchange_set.all %}
                    <a href="{% url 'helpdesk_followup_edit' ticket.id followup.id %}" class='like'><i class="ui edit icon"></i>Редактировать</a>
                {% endif %}
                    <a href="{% url 'helpdesk_followup_delete' ticket.id followup.id %}" class='like'><i class="ui remove icon"></i>Удалить</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
</div>
<div class="ui divider"></div>
<div class="sixteen wide column">
<div id="ticket_comment" class="ui segment">
    <h3 class="ui header">{% trans "Respond to this ticket" %}</h3>
    <div class="ui divider"></div>
<form method='post' action='update/' enctype='multipart/form-data' class="ui form">
    {% if preset_replies %}
        <label for='id_preset'>{% trans "Use a Pre-set Reply" %}</label> <span class='form_optional'>{% trans "(Optional)" %}</span>
        <select name='preset' id='id_preset'><option value=''>------</option>{% for preset in preset_replies %}<option value='{{ preset.id }}'>{{ preset.name }}</option>{% endfor %}</select>
        <div class='form_help_text'>{% trans "Selecting a pre-set reply will over-write your comment below. You can then modify the pre-set reply to your liking before saving this update." %}</div>
    {% endif %}
    <div class="field">
        <label for='commentBox'>{% trans "Comment / Resolution" %}</label></dt>
        <textarea rows='8' cols='70' name='comment' id='commentBox'></textarea></dd>
    </div>
    <div class="inline fields">
        <label>{% trans "New Status" %}:</label>
        {% if not ticket.can_be_resolved %}{% trans "This ticket cannot be resolved or closed until the tickets it depends on are resolved." %}<{% endif %}
        {% ifequal ticket.status 1 %}
        <div class="field">
        <div class="ui radio checkbox">
            <input type='radio' name='new_status' value='1' id='st_open' checked='checked'>
            <label for='st_open' class='active'>{% trans "Open" %}</label>
        </div>
        </div>
        <div class="field">
        <div class="ui radio checkbox">
            <input type='radio' name='new_status' value='3' id='st_resolved'{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}>
            <label for='st_resolved'>{% trans "Resolved" %}</label>
        </div>
        </div>
        <div class="field">
        <div class="ui radio checkbox">
            <input type='radio' name='new_status' value='4' id='st_closed'{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}>
            <label for='st_closed'>{% trans "Closed" %}</label>
        </div>
        </div>
        <div class="field">
        <div class="ui radio checkbox">
            <input type='radio' name='new_status' value='5' id='st_duplicate'>
            <label for='st_duplicate'>{% trans "Duplicate" %}</label>
        </div>
        </div>
        {% endifequal %}
        
        {% ifequal ticket.status 2 %}
        <div class="field">
            <div class="ui radio checkbox">
                <input type='radio' name='new_status' value='2' id='st_reopened' checked='checked'>
                <label for='st_reopened' class='active'>{% trans "Reopened" %}</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type='radio' name='new_status' value='3' id='st_resolved'{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}>
                <label for='st_resolved'>{% trans "Resolved" %}</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type='radio' name='new_status' value='4' id='st_closed'{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}>
                <label for='st_closed'>{% trans "Closed" %}</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type='radio' name='new_status' value='5' id='st_duplicate'>
                <label for='st_duplicate'>{% trans "Duplicate" %}</label>
            </div>
        </div>
        {% endifequal %}

        {% ifequal ticket.status 3 %}
        <div class="field">
            <div class="ui radio checkbox">
                <input type='radio' name='new_status' value='2' id='st_reopened'>
                <label for='st_reopened'>{% trans "Reopened" %}</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type='radio' name='new_status' value='3' id='st_resolved' checked='checked'>
                <label for='st_resolved' class='active'>{% trans "Resolved" %}</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type='radio' name='new_status' value='4' id='st_closed'>
                <label for='st_closed'>{% trans "Closed" %}</label>
            </div>
        </div>
        {% endifequal %}

        {% ifequal ticket.status 4 %}
        <div class="field">
            <div class="ui radio checkbox">
                <input type='radio' name='new_status' value='2' id='st_reopened'>
                <label for='st_reopened'>{% trans "Reopened" %}</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type='radio' name='new_status' value='4' id='st_closed' checked='checked'>
                <label for='st_closed'>{% trans "Closed" %}</label>
            </div>
        </div>
        {% endifequal %}

        {% ifequal ticket.status 5 %}
        <div class="field">
            <div class="ui radio checkbox">
                <input type='radio' name='new_status' value='2' id='st_reopened'>
                <label for='st_reopened'>{% trans "Reopened" %}</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type='radio' name='new_status' value='5' id='st_duplicate' checked='checked'>
                <label for='st_duplicate'>{% trans "Duplicate" %}</label>
            </div>
        </div>
        {% endifequal %}
    </div>
    <div class="inline fields {% if not request.user.is_staff %}hidden{% endif %}">
         {% if helpdesk_settings.HELPDESK_UPDATE_PUBLIC_DEFAULT %}
                <input type='hidden' name='public' value='1'>
            {% else %}
        <label for='id_public'>Тип: </label> 
        <div class="ui checkbox">
            <input type='checkbox' name='public' value='1' checked='checked' class="ui checkbox"/>
            <label for='id_public'>Общий</label> 
        </div>
        
        {% endif %}
    </div>
    <p><small class="{% if not request.user.is_staff %}hidden{% endif %}">При выборе общего типа комментария заявитель получит его на почту.</small></p>


<div id='FurtherEditOptions' style='display: none;'>
    <div class="field">
        <label for='id_title'>{% trans "Title" %}</label>
        <input type='text' name='title' value='{{ ticket.title|escape }}' />
    </div>
    <div class="field">
        <label for='id_owner'>{% trans "Owner" %}</label>
        <select id='id_owner' name='owner' class="ui dropdown">
            <option value='0'>{% trans "Unassign" %}</option>
            {% for u in active_users %}
            <option value='{{ u.id }}' {% ifequal u.id ticket.assigned_to.id %}selected{% endifequal %}>{{ u }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="field">
        <label for='id_priority'>{% trans "Priority" %}</label>
        <select id='id_priority' name='priority' class="ui dropdown">
            {% for p in priorities %}
            <option value='{{ p.0 }}'{% ifequal p.0 ticket.priority %} selected='selected'{% endifequal %}>{{ p.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="inline fields">
        <label for='id_due_date'>{% trans "Due on" %}</label>
        <div class="field">
            <select id="id_due_date_day" name="due_date_day" class="ui dropdown">
                <option value="0">---</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
        </div>
        <div class="field">
            <select id="id_due_date_month" name="due_date_month" class="ui dropdown">
                <option value="0">---</option>
                <option value="1">Январь</option>
                <option value="2">Февраль</option>
                <option value="3">Март</option>
                <option value="4">Апрель</option>
                <option value="5">Май</option>
                <option value="6">Июнь</option>
                <option value="7">Июль</option>
                <option value="8">Август</option>
                <option value="9">Сентябрь</option>
                <option value="10">Октябрь</option>
                <option value="11">Ноябрь</option>
                <option value="12">Декабрь</option>
            </select>
        </div>
        <div class="field">
            <select id="id_due_date_year" name="due_date_year" class="ui dropdown">
                <option value="0">---</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
            </select>
        </div>
    </div>
</div>



<div id='FileUpload' style='display: none;'>

    <dl>

        <dt><label for='id_file'>{% trans "Attach a File" %}</label></dt>
        <dd><input type='file' name='attachment' id='file' multiple/> <span class='AddAnotherFile'>(<a href='#'>{% trans "Add Another File" %}</a>)</span></dd>
    </dl>

</div>

</fieldset>

<input class="ui green button" type='submit' value='{% trans "Update This Ticket" %}' />
{% if request.user.is_staff %}<a href='#' id='ShowFurtherEditOptions' class="ui basic button">Дополнительно</a>{% endif %}
<a href='#' id='ShowFileUpload' class="ui basic button">Прикрепить файл(ы)</a>
{% csrf_token %}
</form>
</div>
</div>
{% endblock %}




<!------------------------------------------------------------------------------------------ADDITIONS-->

<p id='ShowFurtherOptPara'></p>
<p id='ShowFileUploadPara'></p>

 ({{ attachment.mime_type }}, {{ attachment.size|filesizeformat }})
 
 
  {% if followup.user and request.user == followup.user %}
                        <a  href='{% url 'helpdesk_attachment_del' ticket.id attachment.id %}' class="ui red right corner mini label">
                            <i class="remove icon"></i>
                        </a>
                        {% endif %}

{% for change in followup.ticketchange_set.all %}
{% if forloop.first %}<div class='changes'><ul>{% endif %}
<li>{% blocktrans with change.field as field and change.old_value as old_value and change.new_value as new_value %}Changed {{ field }} from {{ old_value }} to {{ new_value }}.{% endblocktrans %}</li>
{% if forloop.last %}</ul></div>{% endif %}
{% endfor %}