<br><br>---------- Пересылаемое сообщение ---------<br>От: <b>Atlassian</b> &lt;<a href="mailto:noreply@mailer.atlassian.com">noreply@mailer.atlassian.com</a>&gt;<br>Дата: среда, 10 февраля 2016 г.<br>Тема: Help us improve SourceTree<br>Кому: <a href="mailto:freempt1@gmail.com">freempt1@gmail.com</a><br><br><br><u></u>


		





<div>
<div style="font-size:1px;display:none!important">Please take this short survey. Thanks in advance!</div>
		<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#ffffff" align="center">
			<tbody><tr>
			<td>
				
				<table width="520" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" align="center">

					
<tbody><tr valign="top">
                 <td align="center" style="padding-top:30px"><a href="http://click.mailer.atlassian.com/?qs=d6fb9fe072247df79f4f19acce19a4f5399fd24bb99d571e05a7e0e8fdfce9e05cb9553878eee233" target="_blank"><img src="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/3/email_logo_360x80_NEW.png" height="40" width="180" border="0" alt="Atlassian" style="display:block;color:#4c9ac9" align="middle"></a></td>
	                 </tr>
	                 
	                 
				<tr>
                 	 <td style="color:#cccccc;padding-top:30px" valign="top">
					 	 <hr color="cccccc" size="1"> 
                     </td>
				</tr>   



				<tr>
 
					<td valign="top" style="padding-top:30px;font-family:Helvetica neue,Helvetica,Arial,Verdana,sans-serif;color:#205081;font-size:32px;line-height:40px;text-align:center;font-weight:bold" align="middle">
			<a href="http://click.mailer.atlassian.com/?qs=d6fb9fe072247df768474f4a4a4793d0f341aa65fb74d4baaa72d1be5c833ca675cc23877204f2cb" style="text-decoration:none;color:#205081" target="_blank">Help us improve SourceTree</a></td>
				</tr> 

 			
				<tr>
					<td valign="top" style="padding-top:30px;font-family:Helvetica,Helvetica neue,Arial,Verdana,sans-serif;color:#333333;font-size:14px;line-height:20px;text-align:left;font-weight:none" align="left"> Hello,	
																</td>
				</tr> 
				<tr>
					<td valign="top" style="padding-top:10px;font-family:Helvetica,Helvetica neue,Arial,Verdana,sans-serif;color:#333333;font-size:14px;line-height:20px;text-align:left;font-weight:none" align="left">Thank you for using SourceTree. We&#39;re conducting a super-short survey to understand your needs a bit better and we&#39;d love your feedback. 
															</td>
				</tr>
				<tr>
					<td valign="top" style="padding-top:10px;font-family:Helvetica,Helvetica neue,Arial,Verdana,sans-serif;color:#333333;font-size:14px;line-height:20px;text-align:left;font-weight:none" align="left">The survey should take no more than two minutes to fill out. Thanks in advance!																</td>
				</tr>
				 
									
				<tr>
					<td valign="top" align="left">	
					<table border="0" cellspacing="0" cellpadding="0" align="center">
                             <tbody><tr>
                                 <td align="center" style="padding-top:30px;padding-bottom:30px"><a href="http://click.mailer.atlassian.com/?qs=d6fb9fe072247df70c285a6ef986f1903124b0b2644a86900b15070ccbb8483cc416a5008cbeebf1" style="font-size:16px;font-family:Helvetica,Helvetica Neue,Arial,Verdana,sans-serif;font-weight:none;color:#ffffff;text-decoration:none;background-color:#3572b0;border-top:11px solid #3572b0;border-bottom:11px solid #3572b0;border-left:20px solid #3572b0;border-right:20px solid #3572b0;border-radius:5px;display:inline-block" target="_blank">Take the survey</a>
                                 </td>
                             </tr>
                    </tbody></table>
					</td>
				</tr>
 
												


				</tbody></table>
				
       		</td>
		</tr>
		<tr>
			<td>
				
<table width="520" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" align="center">
			<tbody><tr>
                 	 <td style="color:#cccccc" valign="top">
					 	 <hr color="cccccc" size="1"> 
                     </td>
				</tr>   		
				<tr>
					<td valign="top" style="padding-top:30px;font-family:Helvetica,Helvetica neue,Arial,Verdana,sans-serif;color:#707070;font-size:12px;line-height:18px;text-align:center;font-weight:none" align="center">	
					<a href="http://click.mailer.atlassian.com/?qs=d6fb9fe072247df70dd6ee5e2947e4646b1f6288cdfda7dcbe65ceb4bca39585e8183028fcab34b7" style="text-decoration:none;color:#707070" target="_blank">Read in browser</a> •
					<a href="http://click.mailer.atlassian.com/?qs=d6fb9fe072247df7bdf75e7b8bad0f4817cfbfb65ceae26c4dbe94bd5c4680ae0a208f8be427c24d" style="text-decoration:none;color:#707070" target="_blank">Unsubscribe</a> • 
					<a href="http://click.mailer.atlassian.com/?qs=d6fb9fe072247df7c70b9c331440d2fcf371626f673ef2536a03166ef0963ea602b5921e2912121f" style="text-decoration:none;color:#707070" target="_blank">Privacy Policy</a> • 
					<a href="http://click.mailer.atlassian.com/?qs=d6fb9fe072247df7482d457245d8cac856a0a95efbe229b4e8c9dd2e68589fa6bf824e50b933e680" style="text-decoration:none;color:#707070" target="_blank">Contact us</a> •
					<a href="http://click.mailer.atlassian.com/?qs=d6fb9fe072247df79a14b08e58dbb3e0d8bcb93cfb923a135ad3e9b048d3491258aaa784d696c3dd" style="text-decoration:none;color:#707070" target="_blank">Read our Blog</a> •  
					<a href="http://click.mailer.atlassian.com/?qs=d6fb9fe072247df7e7e772ebbd8617482d53f2bc4279170a36ed11b07c88f9947f5a87b18faf723c" style="text-decoration:none;color:#707070" target="_blank">Follow on Twitter</a>
							</td>
				</tr>
				<tr>
					<td valign="top" style="padding-top:10px;font-family:Helvetica,Helvetica neue,Arial,Verdana,sans-serif;color:#707070;font-size:12px;line-height:18px;text-align:center;font-weight:none" align="center">	Copyright 2016 Atlassian Pty Ltd. All rights reserved.
						We are located at 341 George Street, Sydney, NSW,
						2000,
						Australia		</td>
				</tr>
				<tr valign="top">
                 	<td align="center" style="padding-top:20px;padding-bottom:30px"><a href="http://click.mailer.atlassian.com/?qs=d6fb9fe072247df7bf31de43fd402a67f9b200414c6ceded585a23ff4ac49da9c23ec0d839404fcf" target="_blank"><img src="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/3/logo-email-footer.png" height="20" width="91" border="0" alt="Atlassian" style="display:block;color:#4c9ac9"><img src="http://click.mailer.atlassian.com/open.aspx?ffcb10-fe4a1c79716d0178701c-fdd415707c67047d7015747164-fec2157377620c74-fec0167872600d7c-fdf615727160017a7217707d-ffce15&amp;d=10051" width="1" height="1"></a>
				 	</td>               
				</tr>

				
				</tbody></table>
        
			</td>
		</tr>


	</tbody></table>
</div>

<br>
