{% load i18n %}
<div class="sixteen wide column">
<table class="ui celled striped very compact table">
    <thead>
        <!--<tr><th colspan="4">{% trans "Helpdesk Summary" %}</th></tr>-->
        <tr>
            <th>{% trans "Queue" %}</th>
            <th>{% trans "Open" %}</th>
            <th>{% trans "Resolved" %}</th>
            <th>{% trans "Closed" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for queue in dash_tickets %}
        <tr>{% url 'helpdesk_list' as hdlist %}
            <th>
                <a href='{{ hdlist }}?queue={{ queue.queue }}&status=1&status=2'>{{ queue.name }}</a>
            </th>
            <td>
                {% if queue.open %}
                <a href='{{ hdlist }}?queue={{ queue.queue }}&status=1&status=2'>{% endif %}{{ queue.open }}{% if queue.open %}</a>
                {% endif %}
            </td>
            <td>
                {% if queue.resolved %}
                <a href='{{ hdlist }}?queue={{ queue.queue }}&status=3'>{% endif %}{{ queue.resolved }}{% if queue.resolved %}</a>
                {% endif %}
            </td>
            <td>
                {% if queue.closed %}<a href='{{ hdlist }}?queue={{ queue.queue }}&status=4'>{% endif %}{{ queue.closed }}{% if queue.closed %}</a>
                {% endif %}
            </td>
        </tr>
{% endfor %}
</tbody>
</table>
</div>