{% load i18n humanize %}
<div class="sixteen wide column">
<table class="ui celled striped very compact table">
    <!--{% if ticket_list_caption %}
    <caption>{{ ticket_list_caption }}</caption>{% endif %}-->
    <thead>
        {% if ticket_list_caption %}<tr><th colspan="6">{{ ticket_list_caption }}</th></tr>{% endif %}
        <tr>
            <th>#</th>
            <th>{% trans "Pr" %}</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Queue" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Last Update" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for ticket in ticket_list %}
        <tr class="{{ ticket.get_priority_css_class }}">
            <th><a href='{{ ticket.get_absolute_url }}'>{{ ticket.ticket }}</a></th>
            <td>{{ ticket.priority }}</td>
            <th><a href='{{ ticket.get_absolute_url }}'>{{ ticket.title }}</a></th>
            <td>{{ ticket.queue }}</td>
            <td>{{ ticket.get_status }}</td>
            <td><span title='{{ ticket.modified|date:"r" }}'>{{ ticket.modified|naturaltime }}</span></td>
        </tr>
    {% empty %}
        {% if ticket_list_empty_message %}
            <tr><td colspan='6'>{{ ticket_list_empty_message }}</td></tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
</div>