{% load i18n humanize %}
<div class="sixteen wide column">
<table class="ui celled striped very compact table">
    <!--<caption>{% trans "Unassigned Tickets" %} {% trans "(pick up a ticket if you start to work on it)" %}</caption>-->
    <thead>
        <tr><th colspan="6">{% trans "Unassigned Tickets" %} {% trans "(pick up a ticket if you start to work on it)" %}</th></tr>
        <tr>
            <th>#</th>
            <th>{% trans "Pr" %}</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Queue" %}</th>
            <th>{% trans "Created" %}</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
<tbody>
    {% for ticket in unassigned_tickets %}
    <tr class="{{ ticket.get_priority_css_class }}">
        <td><a href='{{ ticket.get_absolute_url }}'>{{ ticket.ticket }}</a></td>
        <td>{{ ticket.priority }}</td>
        <td><a href='{{ ticket.get_absolute_url }}'>{{ ticket.title }}</a></td>
        <td>{{ ticket.queue }}</td>
        <td><span title='{{ ticket.created|date:"r" }}'>{{ ticket.created|naturaltime }}</span></td>
        <td>
            <a href='{{ ticket.get_absolute_url }}?take'>
                <span class='button button_take'>{% trans "Take" %}</span>
            </a> | 
            <a href='{% url 'helpdesk_delete' ticket.id %}'>
                <span class='button button_delete'>{% trans "Delete" %}</span>
            </a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan='6'>{% trans "There are no unassigned tickets." %}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>